body {
  background: #f9f9f9;
}
.button_gradient {
  background: linear-gradient(
    90deg,
    rgb(189, 142, 43) 1%,
    rgb(115, 115, 115) 100%
  );
}

.swiper {
  width: 100%;
  /* height: 400px; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 290px; */
  /* object-fit: cover; */
}
.icon_shadow {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300 !important;
}
.icon_shadow:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  /* angular */
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgb(184, 210, 241),
    rgb(242, 137, 170),
    rgb(198, 139, 240),
    rgb(209, 100, 218),
    rgb(201, 99, 232),
    rgb(191, 194, 232),
    rgb(255, 201, 153),
    rgb(208, 216, 201),
    rgb(186, 208, 241),
    rgb(206, 216, 203),
    rgba(255, 255, 255, 0)
  );
  color: white;
}

.active {
  background: -webkit-linear-gradient(90deg, #bd8e2b 100%, #737373 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 33px;
}
.active::after {
  content: "";
  width: 100%;
  height: 6px;
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(90deg, #bd8e2b 1%, #737373 100%);
  margin-top: 27px;
}
.Mui-selected {
  background: linear-gradient(
    90deg,
    rgb(189, 142, 43) 1%,
    rgb(115, 115, 115) 100%
  );
  color: rgba(255, 255, 255, 1) !important;
  border-radius: 8px;
}
.css-1gsv261 {
  border: none !important;
}
.MuiTabs-indicator {
  display: none;
}
@media (max-width: 768px) {
  .css-heg063-MuiTabs-flexContainer {
    flex-direction: column;
  }
}
